.formatted-content
  h1, h2, h3, h4, h5, h6, hgroup,
  ul, ol, dd, p, figure, pre, table,
  fieldset, hr, form
    +margin-bottom(1)

  h2, h3, h4, h5, h6
    +margin-top(2)

    &:first-child
      margin-top: 0

  ul, ol
    padding-left: 30px

    li
      +margin-bottom(1)

  ul li
    list-style-type: disc

  ol li
    list-style-type: decimal

.alpha
  +font-size(3)
  text-transform: uppercase

.beta
  +font-size(2)
  +heading-font

.gamma
  +font-size(1)

