---
title: il nostro target commerciale
---
markdown:
  # Clienti

  ## Quali lavori prediligere

  * Continuativi nel tempo (+3 mesi)
  * Che richiedano impegno full-time di almeno una persona
  * Multi-settoriali (che possano coinvolgere piu' professionalità interne a Cantiere)
  * Con checkpoint di pagamento frequenti
  * Assenza di intermediari
  * Predisposti a lavorare con metodologie agili

  ## Requisiti sullo stakeholder

  * Un solo stakeholder di riferimento con cui interfacciarsi
  * Stakeholder disponibile a sprint-planning ogni 7-14 giorni per 2-3h
  * Stakeholder in grado di garantire presenza e supporto costante al team per micro problem-solving quotidiano

  ## Garanzie al cliente

  * "Con circa X euro siamo in grado di realizzare *il core* della tua idea"
  * Massima flessibilità nel poter cambiare idea in corso d'opera
  * Exit strategy e assenzza di **lock in**
  * Prodotto finale di qualità
  * Team motivato e in focus
  * Presenza di retrospettive "checkpoint" durante lo sviluppo per monitorare non solo l'andamento dello sprint, ma il raggiungimento dell'obiettivo entro il budget
