---
title: condividiamo e discutiamo ciò che impariamo
---
markdown:
  # Idee e ricerca

  Abbiamo una board Trello — **[Cantiere - Idee](https://trello.com/b/CsKa17BZ/cantiere-idee)** — dedicata alla ricerca, studio e approfondimento di tematiche di vario genere:

  * **Management** — tool di gestione aziendale e dei flussi
  * **Development** — tool di sviluppo, librerie, gemme...
  * **Design** — grafica e frontend
  * **Marketing** — SEO, Blogging, Social, Copy ecc
  * **Sistemistica** — deploy, backup, servizi esterni, server....

  ## Per chi è?
  Per **tutti**! Utilizza la board per fare studi e approfondimenti su argomenti del tuo lavoro quotidiano. In questo modo la _conosocenza_ può essere condivisa con altri.

  Oltre a voler trovare una effettiva soluzione al problema, questo metodo ci porta, in modo abbastanza naturale, alla **stesura di blog post**.

  ## Primo passo
  Quando hai necessità di studiare qualcosa, apri e assegnati una card nella colonna **pending** e assegna anche una delle cinque label disponibili. Non è detto che tu debba necessariamente effettuare lo studio in prima persona. Potrebbe essere semplicemente una richiesta di aiuto ad altri che possono essere coinvolti in un secondo momento.
  Se in una qualunque colonna vedi una card con argomenti che ti interessano o su cui puoi essere di aiuto, aggiungiti liberamente allo studio per contribuire.

  ### Titolo della card
  Scrivi il titolo sotto forma di domanda. Questo ti aiuterà a definire meglio quale è l'obiettivo che deve essere chiaro ed esaustivo per tutti. Ad esempio:  _"quali strumenti esistono per fare test più veloci in Rails?"_.

  ### Descrizione della card
  La descrizione è di fatto lo sviluppo della ricerca e deve avere questa struttura.

  * **Problema**: breve descrizione della problematica e del perchè si ha necessità di risolverla
  * **Studio**: i possibili scenari e/o strumenti conosciuti o scoperti durante la ricerca
  * **Risorse**: elenco puntato di link a risorse esterne, siti di esempio ecc.
  * **Soluzione**: Cosa e perchè è risultato più convenitente dopo aver fatto verifiche pratiche, test. Il testo di questo paragrafo dovrebbe essere ben articolato e aggiunto solo durante la chiusura della storia.

  ## Researching
  Quando la ricerca ha inizio effettivo, sposta la card sulla colonna **researching**. Questo indica che hai iniziato a fare studi sull'argomento. La card possono stare in questo stato per tutto il tempo necessario alla raccolta di informazioni, verifiche ecc.

  ## Discussing
  Quando hai effettuato una prima parte di ricerca, potresti aver bisogno di un po' di confronto con altri. Sposta la card su **discussing** e cerca confronto con altri.
  Se vedi una card non tua in questa colonna, significa che l'argomento è _fresco_ e in discussione e puoi certamente contribuire.

  ## Done
  Quando sei soddisfatto e hai una soluzione accettabile, sposta la card sulla colonna **Done**, **senza archiviarla**.
  Da qui in poi, il lavoro può essere tradotto sotto forma di blogpost.
