---
title: Cantiere Creativo Guidelines
---
markdown:
  # Cantiere Creativo Guidelines

  Siamo una agenzia di sviluppo di applicativi web e mobile. Informazioni commerciali si trovano sul [nostro sito web](http://www.cantierecreativo.net). Per i mercati esteri, il nostro **spin-off** è **[LeanPanda](http://www.leanpanda.com)**; team e metodologie non cambiano tra i due differenti brand. Utilizziamo l'ecosistema del mondo Ruby per sviluppare i nostri progetti Ruby on Rails, iOS/Andorid.

  ## I nostri interessi

  Ci interessano moltissimo **lo sviluppo di codice di qualità** e la possibilità di **mettere cura nei dettagli** in tutti gli aspetti dei progetti nostri e dei clienti.

  Ci interessa che tutti i membri di Cantiere Creativo siano attivi nell'apprendere, condividere, discutere e contribuire agli standard che decidiamo di adottare. Descriviamo il nostro approccio in questo documento in modo tale da accordarsi e avere una base comune di partenza.

  La **trasparenza** è una nostra pecularietà operativa e commerciale; siamo convinti che sia un ottimo ingrediente per **costruire rapporti solidi di collaborazione con i clienti** e non solo. Anche per questo decidiamo di rendere pubbliche queste *linee guida* interne, rilasciandole sotto [licenza Creative Commons Attribution-NonCommercial](http://creativecommons.org/licenses/by-nc/3.0/) nella speranza che possano essere utili anche ad altri, così come è stato utile per noi il meticoloso lavoro del *Playbook* svolto da Thoughtbot — che ringraziamo vivamente — a cui ci siamo ispirati.


  ## Suggerimenti e contributi

  Consigli, contrbuti, discussioni e revisioni sono ben accetti sempre e comunque!

  [Seguici su twitter @teamcantiere](http://twitter.com/teamcantiere)